.delivery_options {
    width: 500px;
    background-color: rgb(212, 212, 212, 0.3);
    height: auto;
    padding: 10px;
    margin: 10px;
    margin-left: 40px;
    border: 1px solid gray;
    border-radius: 5px;
}
