.main_top_products_slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}
.top_products_slider_container {
    cursor: grab;
    width: 500px;
    aspect-ratio: 1;
    background-color: yellowgreen;
    overflow-y: scroll;
    scroll-snap-type: y mandatory !important;
}
.slide {
    height: 100%;
    scroll-snap-align: center;
}
