.main_home_container {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    background-color: #f2f2f2;
}
.main_top_products_slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}
.top_products_slider_container {
    max-width: 500px;
    min-width: 400px;
    aspect-ratio: 1;
    background-color: yellowgreen;
    overflow-y: scroll;
    scroll-snap-type: y mandatory !important;
}
.slide {
    height: 100%;
    scroll-snap-align: center;
}
.greetings_container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.greetings_text {
    margin: auto 0;
}
.maskImg {
    mask-image: radial-gradient(circle, black 70%, rgba(0, 0, 0, 0.5) 50%);
}
.prev_btn {
    position: absolute;
    top: 45%;
    left: 3%;
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border-radius: 50%;
    font-size: 40px;
    display: grid;
    place-items: center;
    opacity: 0.9;
    border: none;
    transition: all 1s ease-in;
}
.next_btn {
    position: absolute;
    top: 45%;
    right: 3%;
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border-radius: 50%;
    display: grid;
    place-items: center;
    opacity: 0.9;
    border: none;
    transition: all 1s ease-in;
}
.slider_container {
    position: relative;
    width: 80%;
    height: 800px;
    border-radius: 15px;
    margin-inline: auto;
    overflow: hidden;
    /* box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.7); */
    z-index: 10;
    text-align: center;
}
.smol_id {
    position: absolute;
    top: 45%;
    left: 3%;
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border-radius: 50%;
    font-size: 40px;
    display: grid;
    place-items: center;
    border: none;
    opacity: 0;
}
.big_id {
    position: absolute;
    top: 45%;
    right: 3%;
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border-radius: 50%;
    display: grid;
    place-items: center;
    opacity: 0;
    border: none;
}
.slider_info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 1500px) {
    .main_home_container {
        width: 100%;
    }
}
@media (max-width: 850px) {
    .slider_container {
        width: 100%;
    }
}
@media (max-width: 700px) {
    .slider_info {
        flex-direction: column;
    }
}
