@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
    font-family: "Lato", sans-serif;
}

.main_container {
    width: 100%;
    height: 100%;
    background-color: #16a085;
    display: flex;
}
.product_container {
    width: 75%;
    height: 90%;
    background-color: whitesmoke;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product_image {
    height: 600px;
    width: 450px;
}
.product_infos {
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 120px;
}
.related_products_container {
    width: 25%;
    height: 90%;
    background-color: red;
    border-bottom-right-radius: 20px;
}
.related_products {
    height: 90%;
    overflow-y: scroll;
}
.product_img_container {
    position: relative;
    border: 1px solid black;
}
.on_sale {
    width: 220px;
    height: 60px;
    position: absolute;
    background-color: #ff6969;
    top: 7%;
    left: -9%;
    transform: rotateZ(-45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.zoom_in_icon {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 1.5%;
    top: 1%;
    border-radius: 50%;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_buttons {
    width: 70%;
    display: flex;
    justify-content: space-around;
}
.on_sale h1 {
    color: white;
    margin: 0;
    margin-top: 4px;
    font-weight: bold;
    letter-spacing: 3px;
}
.product_info {
    margin: 20px;
    margin-left: 0;
}
.product_info span {
    font-weight: bold;
    font-size: 20px;
}
.first_span {
    background-color: #a6f4e1;
    color: #0b654f;
    letter-spacing: 2px;
    padding: 3px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.main_title {
    font-size: 40px;
    color: #0b654f;
    font-weight: bold;
}
.hide {
    display: none;
}
.product_price {
    position: relative;
}
.crossed {
    position: relative;
    margin: 10px;
    letter-spacing: 1px;
}
.crossed::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 43%;
    width: 70px;
    height: 3px;
    transform: rotateZ(-25deg);
    background-color: black;
}
.current_price_span {
    background-color: #a6f4e1;
    color: #0b654f;
    border-radius: 10px;
    padding: 7px;
    font-weight: bold;
    letter-spacing: 3px;
}

.zoom_active {
    position: absolute;
    width: 65%;
    height: 85%;
    top: 7%;
    left: 17%;
}
.product_slider_image {
    margin: 10px;
}
.overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
.prev_slide,
.next_slide {
    padding: 20px;
    width: 50px;
    height: 50px;
    position: absolute;
    border-right: 7px solid rgb(224, 224, 224);
    border-top: 7px solid rgb(224, 224, 224);
}
.prev_slide {
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%) rotateZ(-135deg);
    z-index: inherit;
}
.next_slide {
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%) rotateZ(45deg);
    z-index: inherit;
}
.main_arrow_container {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 2;
}
.left_arrow {
    top: 42%;
    left: 10%;
}

.right_arrow {
    top: 42%;
    right: 12%;
}

.main_arrow_container:hover {
    cursor: pointer;
}

@media (max-width: 1550px) {
    .zoom_active {
        height: 80%;
        width: 60%;
    }
}

@media (max-width: 1150px) {
    .zoom_active {
        height: 65%;
        width: 55%;
    }
}
