.main_all_products_container {
    display: grid;
    margin: 0 auto;
    /* background: linear-gradient(45deg, rgb(65, 159, 131), #097895); */
    min-height: 100vh;
    width: 100%;
    background-color: #ebebeb;
}
.filters_container,
.recent_searches {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px;
    border-radius: 15px;
    background-color: #ebebeb;
    height: fit-content;
    padding: 15px 10px;
    border: 2px solid #d3d3d3;
    width: 350px;
}
.price_filter,
.category_filter,
.keyword_filter {
    margin: 10px 0;
}
.on_sale_header {
    padding: 5px;
    margin: auto 10px;
    background-color: red;
    color: white;
    border-radius: 10px;
}

.product_item_container {
    border: 2px solid #d3d3d3;
    margin: 20px;
    width: 100%;
    display: flex;
    padding: 20px;
    background-color: #ebebeb;
    position: relative;
}
.product_item_container_2 {
    padding: 20px;
    border: 2px solid #d3d3d3;
    width: 30%;
    display: flex;
    margin: 20px;
    min-width: 370px;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    border-radius: 15px;
    background-color: #ebebeb;
    /* box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5); */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}
.product_item_container_2:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 15px,
        rgba(0, 0, 0, 0.22) 0px 5px 8px;
}
.product_item_image {
    width: 150px;
    height: 150px;
    background-color: lightgray;
    margin: 20px;
}
.product_item_image_2 {
    width: 90%;
    height: 300px;
    background-color: #ebebeb;
    margin: 20px auto;
}
.product_item_container:hover {
    background-color: #d4d4d4;
    cursor: pointer;
}
@media (min-width: 1400px) {
    .main_all_products_container {
        grid-template-columns: 1fr 4fr;
        grid-gap: 10px;
    }
}
@media (max-width: 500px) {
    .main_all_products_container {
        min-width: 300px;
    }
    .product_item_container {
        flex-direction: column;
        margin: 5px;
    }
    .product_item_image {
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }
    .filters_container,
    .recent_searches {
        padding: 5px;
        margin: 3px;
    }
    .products_list {
        min-width: 90%;
    }
}
