.main_login_container2 {
    height: 100vh;
    overflow: hidden;
    background: radial-gradient(rgba(5, 5, 5, 1), rgba(5, 5, 5, 0.9));
    /* background-color: rgb(5, 5, 5); */
    position: relative;
    display: grid;
    place-items: center;
}
.login_container_shape {
    position: absolute;
    top: -5%;
    right: -20%;
    width: 750px;
    background: linear-gradient(45deg, rgb(65, 159, 131), #097895);
    height: 150vh;
    /* background-color: rgb(49, 155, 141); */
    z-index: 2;
    transform: rotateZ(25deg);
    box-shadow: -5px 17px 10px rgba(0, 0, 0, 0.75);
}
.login_container_shape2 {
    position: absolute;
    top: -22%;
    left: -20%;
    background: linear-gradient(45deg, #097895, rgb(65, 159, 131));
    height: 150vh;
    /* background-color: rgb(49, 155, 141); */
    z-index: 2;
    transform: rotateZ(25deg);
    width: 600px;
    box-shadow: 5px 17px 7px rgba(0, 0, 0, 0.75);
}
.login_container_shape3 {
    position: absolute;
    bottom: -15%;
    left: -10%;
    background: linear-gradient(45deg, rgb(52, 130, 106), #046279);
    height: 50vh;
    /* background-color: rgb(49, 155, 141); */
    z-index: 1;
    transform: rotateZ(-25deg);
    width: 400px;
}
.login_container_shape4 {
    position: absolute;
    top: -15%;
    right: -5%;
    background: linear-gradient(45deg, #046279, rgb(52, 130, 106));
    height: 50vh;
    /* background-color: rgb(49, 155, 141); */
    z-index: 1;
    transform: rotateZ(-25deg);
    width: 350px;
}
.login_form_wrapper {
    width: 60%;
    min-width: 800px;
    height: 700px;
    background-color: whitesmoke;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.67);
    gap: 75px;
    position: inherit;
    z-index: 5;
}
.login_image_container {
    width: 50%;
    height: 100%;
    background-image: url("../images/login_bg2.jpg");
    background-color: #050505;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-size: cover;
    position: inherit;
}
.login_image_container_overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.logo_image_container {
    background-image: url("../images/Mstore.png");
    background-size: cover;
    width: 100px;
    height: 50px;
    position: absolute;
    top: 5%;
    left: 5%;
}
.socials {
    /* margin-top: auto; */
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
}
.login_text_part {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.login_submit_button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 40px;
    background-color: #333;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    position: relative;
    z-index: 1;
}
.login_submit_button2::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #419f83, #097895);
    opacity: 0;
    transition: all 0.4s;
    z-index: -1;
}
.login_submit_button2:hover::before,
.login_submit_button2:hover {
    opacity: 1;
    border-color: #419f83;
}
