.user_infos_container {
    width: 80%;
    height: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
}
.main_user_infos_container {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
